<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109950038905-e6bb8nffsa6blrh0mu8m01512elvqemn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109950038905-e6bb8nffsa6blrh0mu8m01512elvqemn</string>
	<key>API_KEY</key>
	<string>AIzaSyAv1Ot7iYeJSSXARRGkqcjluYXWM2GUBg8</string>
	<key>GCM_SENDER_ID</key>
	<string>109950038905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stq.reciclaapp</string>
	<key>PROJECT_ID</key>
	<string>reciclaapp-35eb2</string>
	<key>STORAGE_BUCKET</key>
	<string>reciclaapp-35eb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109950038905:ios:bc5d1212a8282957</string>
	<key>DATABASE_URL</key>
	<string>https://reciclaapp-35eb2.firebaseio.com</string>
</dict>
</plist>