# DO NOT ADD SECRETS TO THIS FILE. This is a good place for defaults.
# If you want to add secrets use `.env.production.local` instead, which is automatically detected by docker-compose.

ENV_VARIABLE=production_server_only_variable
NEXT_PUBLIC_ENV_VARIABLE=production_public_variable

APOLLO_KEY=service:ronal2do:0MMR7cdEldcTm0pRBcQzDQ
APOLLO_GRAPH_REF=ronal2do@current
APOLLO_SCHEMA_REPORTING=true

MONGODB_URI=mongodb+srv://ronal2do:XtvgBwXoju0NRoWz@cluster0.h87xucp.mongodb.net/recicla?retryWrites=true&w=majority
# MONGODB_URI=mongodb://root:123Qwerty@ds151486.mlab.com:51486/reciclabc
MONGODB_NAME=reciclaapp
